@import 'vars.less';

/*Спецификации*/



.clearfix:after {
    content: " ";
    display: table;
    width: 100%;
}

html,
body {
    font-family: @font;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 125.5%;
}

/*------------------------------------------------------------------------*/
